@import url('https://fonts.googleapis.com/css2?family=Domine&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

a{
    text-decoration: none;
    color: white;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

header{
    background-image: url("https://images3.alphacoders.com/105/thumb-1920-1053268.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.design{
    background-image: url("/static/css/images/black.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 1519px;
}

nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    flex-direction: row;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.b{
    margin: 0 10px;
}

.btnlog{
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.basehead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 85px;
}

.baseh{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    text-align: center;
}

.basep{
    font-family: 'Roboto Mono', monospace;
    align-self: center;
    width: 700px;
    text-align: center;
    color: white;
    font-size: 15px;
}

.baseline{
    width: 150px;
    height: 30px;
    border-bottom: 1px solid white;
    align-self: center;
}

.homepage{
    display: flex;
    flex-direction: column;
}

.homepageh{
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    color: white;
    font-size: 40px;
}

.homie{
    padding: 0 10%;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.filters{
    padding: 40px 0;
    padding-left: 20px;
}

.change{
    margin-bottom: -220px;
    margin-left: -35px;
    border-left: 2px solid rgb(255, 255, 255);
    height: 240px;
}

.f{
    font-size: 20px;
    border: 2px solid white;
    padding: 7px 15px;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.3s;
    margin-bottom: 100px;
}

.f:hover{
    background-color: white;
    color: black;
}

.cards{
    margin-top: 30px;
    padding-left: 100px;
}

.card{
    background-color: white;
    height: 200px;
    width: 600px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    transition: 0.3s;
}

.photo{
    background-position: center;
    background-size: cover;
}

.cardhead{
    height: 50px;
    width: 400px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.card:hover{
    transform: translateX(10px);
}

.cardbody{
    height: 110px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.cardbodyp{
    align-self: center;
    justify-self: center;
    font-family: 'Montserrat', sans-serif;
}

.cardread{
    width: 400px;
    height: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.crimson{
    background-color: crimson;
    display: flex;
    align-content: center;
    justify-content: center;
}

.read{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    align-self: center;
}

.likes{
    display: flex;
    padding-left: 10px;
    align-content: center;
}

.likesp{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    justify-self: center;
    align-self: center;
}

.no {
    color: white;
    font-size: 30px;
    margin: 70px 0;
    margin-left: 37%;
}

footer{
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.footerh{
    padding: 15px 60px;
    border-top: 2px solid white;
}

.article{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    padding-bottom: 50px;
}

.article > h1{
    align-self: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.article > img{
    align-self: center;
    border: 2px solid white;
    margin: 10px;
    margin-bottom: 30px;
}

.content {
    align-self: center;
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 20px 50px;
    width: 1000px;
    font-size: 18px;
}

.info {
    text-align: center;
    align-self: center;
    margin-top: 50px;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.from{
    display: flex;
    align-content: center;
    justify-content: center;
}

.ffform{
    width: 500px;
    justify-self: center;
    align-self: center;
}

.signuph{
    color: white;
    align-self: center;
    justify-self: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.signup{
    display: flex;
    flex-direction: column;
}

.inter{
    margin: 20px 0;
}

.inter > input{
    width: 100%;
    height: 50px;
    font-family: 'Roboto Mono', monospace;
    padding: 0 10px;
    font-size: 20px;
}

.error{
    font-size: 20px;
    color: red;
}

.sub{
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    border: none;
    font-size: 18px;
    width: 50%;
    height: 40px;
    margin: 20px 0;
    margin-bottom: 50px;
    transition: 0.3s;
}

.sub:hover{
    transform: translateY(-5px);
    background-color: crimson;
    color: white;
}

.create{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-bottom: 50px;
}

.inter > textarea {
    width: 100%;
    height: 300px;
    font-size: 18px;
    padding: 10px;
}

.categoriesradio{
    margin: 10px 0;
}

.categoriesradio > span{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 100px;
}

.flash{
    font-family: 'Roboto Mono', monospace;
    align-self: center;
    font-size: 20px;
    color: white;
}
